<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/title') %>
    <link rel="stylesheet" href="/css/utils.css">
    <link rel="stylesheet" href="/css/taskBoard.css">
</head>
<body>
    <%- include('partials/nav') %>
    <%let head = '', des = ''%>
    <%if(status === 'pending'){%>
        <%head = 'Pending Tasks'%>
        <% des = 'Tasks that are yet to be started.' %>
    <%}else if(status === 'completed'){%>
        <%head = 'Completed Tasks'%>
        <% des = 'Tasks you have successfully finished.' %>
    <%}else if(status === 'in-progress'){%>
        <%head = 'In Progress Tasks'%>
        <% des = 'Tasks you are currently working on.' %>
    <%}else{%>
        <%head = 'All Tasks'%>
        <% des = 'Overview of all your tasks.' %>
    <%}%>
    <main>
        <div id="heading">
            <h3><%=head%></h3>
        </div>

        <div id="description">
            <p id="text"><%=des%></p>
        </div>

        <div id="filter">
            <a href="/taskBoard" class="filterItems">All Tasks</a> |
            <a href="/taskBoard/pending" class="filterItems">Pending</a> |
            <a href="/taskBoard/completed" class="filterItems">Completed</a> |
            <a href="/taskBoard/in-progress" class="filterItems">Ongoing</a>
        </div>

        <div id="box">
            <% taskBoard.forEach(task => { %>
                <div class="task-card">
                    <div class="card-header">
                        <h3 class="task-title"><%= task.title %></h3>
                        <span class="priority high"><%= task.priority %></span>
                    </div>

                    <p class="task-category">Category: <%= task.category %></p>

                    <p class="task-desc"><%= task.description %></p>

                    <div class="card-footer">
                        <span class="due-date">
                            <i class="bi bi-calendar-event"></i> <%= task.date %>
                        </span>

                        <span class="status pending"><%= task.status %></span>
                    </div>

                    <div class="card-actions">
                        <button class="btn edit">
                            <i class="bi bi-pencil"></i>
                        </button>
                        <button class="btn delete">
                            <i class="bi bi-trash"></i>
                        </button>
                        <button class="btn complete">
                            <i class="bi bi-check2"></i>
                        </button>
                    </div>
                </div>
            <% }) %>
        </div>
    </main>
</body>
</html>
